div{
	text-align: center;
	padding: 15px;
	min-height: 100px;
}
input{
	width: 70% !important;
}
button{
	margin-left: 5px;
	width: 150px;
}
h1{
	text-align: center;
	padding-top: 30px;
}
textarea{
	width: 70% !important;
}